a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin-top: 0;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 60px;
}
.items {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.item {
  margin-right: 40px;
}
.item a {
  text-decoration: none;
}
.titl a {
  text-decoration: none;
  color: #11493e;
}
.titl h1 {
  font-weight: 550;
}
.item {
  background-color: #191919;
  width: 150px;
  border-radius: 30px;
}
.item:hover {
  background-color: #cecece;
  transition: all ease-in-out 0.3s;
}
.item p {
  margin-top: 15px;
  color: white;
}
/* @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');

.header-main {
    background-color: #f8f9fa;
    margin-bottom: 45px;
}

.navbar {
    padding: 2px 5%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 1%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.nav-top-ul li {
    width: 6rem;
    margin-left: 2rem;
    font-size: 19px;
    font-family: 'Encode Sans SC', sans-serif;
    text-align: center;
}

.nav-top-ul li:hover {
    background-color: white
}

.nav-top-ul-li-text-align {
    font-size: 20px !important;
    color: white;
    padding: 0 37%;
    transition-delay: 5s;
}

.nav-top-ul li a {
    color: black !important;
}

.navbar-brand {
    color: white !important;
}

.logout-button {
    cursor: pointer;
    color: black !important;
}

.navbar-toggler {
    border: 1px solid #808080 !important;
}

.login-button {
    margin: auto;
}

.banner-page {
    background-color: rgb(211, 211, 255);
    min-height: 400px;
    padding: 100px
}

.banner-page p {
    font-size: 40px;
    max-width: 760px;
    margin: 20px auto;
    color: #8181ff;
} */
