.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 350px;
  padding: 20px 40px 0 0;
  height: 100vh;
}

.products {
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.banner-page {
  min-height: 100px;
  width: 100%;
  border-bottom-right-radius: 40px;
  opacity: 1;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(17, 73, 62, 0.2) 8px 8px 24px;
  display: flex;
  padding: 20px 20px 20px 40px;
  margin-top: 60px;
  margin-left: 40px;
  margin-bottom: 30px;
}
.side1 {
  flex: 1;
}
.side2 {
  flex: 0.5;
}
.side1 h2 {
  letter-spacing: 1px;
  color: #191919;
  font-weight: 400;
  font-size: 30px;
}
.teg {
  color: #11493e;
  font-size: 42px;
  font-weight: 440;
}

.side2 img {
  width: 450px;
  object-fit: contain;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 60px;
  border-bottom: 1px solid lightgrey;
  margin-top: 0;
}
.input {
  flex: 0.5;
  display: flex;
  background-color: white;
  color: grey;
  border-radius: 30px;
  align-items: center;
  padding: 15px;
  min-width: 70px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 20px;
}
.input > input {
  border: none;
  width: 100%;
  margin-left: 10px;
}
.input > input:focus {
  outline: none;
}
