 .add-style {
     margin: 200px 0 100px 0;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 

 .new-style-inputs h2 {
    margin-bottom: 50px;
}

.new-style-inputs button { 
    padding: 5px 12px;
    margin: 0 auto;  
    border: 2px solid blue;
    border-radius: 4px;
    background-color: rgb(195, 195, 255);
    cursor: pointer;
    color: blue;
}


 .new-style-fields {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 15px 0;
 }

 .new-style-fields label {
     min-width: 110px;
     text-align: left;
 }