.container123 {
  margin-top: 90px;
}
.picklist {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.picklistrow {
  width: 97%;
  padding: 14px 40px;
  background-color: #ededed;
  display: flex;
  border-radius: 7px;
  /* flex-wrap: wrap; */
}

.picklistitem {
  display: flex;
  flex-direction: column;
  margin-right: 200px;
}
.picklistitem input,
select {
  width: 400px;
  height: 40px;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
}
.picklist label {
  font-size: 18px;
  text-align: left;
  font-weight: 500;
}
.repogen {
  width: 300px;
  margin-top: 17px;
  border: none;
  padding: 10px;
  border-radius: 7px;
  background-color: #11493e;
  color: white;
  font-weight: 500;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.cardsssss {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.cardes {
  /* margin: 8px 20px; */
  display: flex;
  width: 550px;
  height: 210px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;

  flex-direction: column;
}

.card__container {
  display: flex;
  flex-direction: column;
  margin: 6px;
}
.cards_detail {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
}
.cards_detail_sub {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 20px;
  width: 100%;
}
.cards_detail p {
  font-size: 23px;
  display: flex;
}
.cards_detail h3 {
  font-size: 28px;
  display: flex;
}
.cards_detail i {
  font-size: 25px;
  background-color: white;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: black;
  margin-right: 10px;
}
.cards_detail_sub p {
  font-size: 18px;
  letter-spacing: 2px;
  text-align: left;
}
.cards_detail_sub h1 {
  font-size: 19px;
  text-align: left;
}

.card-1s {
  background: #1464f4;
  border: 2px solid #1b3f8b;
}

.card-2s {
  background: #ff1919;
  border: 2px solid #cc0000;
}

.card-3s {
  background: #800080;
  border: 2px solid #4d004d;
}

.card-4s {
  background: #008000;
  border: 2px solid #004d00;
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}
.card-5_sub {
  background: radial-gradient(#f588d8, #c0a3e5);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
