.main-container {
  padding: 30px 0;
  margin-top: 70px;
}

/* HEADING */

.heading {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.heading img {
  width: 120px;
  margin-left: 20px;
}

.heading__title {
  font-weight: 600;
}

.heading__credits {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

/* CARDS */

.cardssss {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 330px;
  height: 250px;
  display: flex;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  align-items: center;
  justify-content: center;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}
.card__inside {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.card__logo {
  width: 130px;
  background-color: white;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 130px;
}
.card__logo img {
  width: 100px;
  object-fit: contain;
}
.card__description {
  width: 300px;
}
.card__description p {
  margin-left: 20px;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;

  margin-top: 20px;
  text-align: center;
}

/* .card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
} */

/* CARD BACKGROUNDS */

.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
